:root {
  --font-family-heading: Copperplate, "Copperplate Gothic Light", fantasy, Arial;
  --font-family-text: Arial, Helvetica, sans-serif;
}

body {
  width: 90%;
  margin: 0 auto;
}

h1 {
  font-size: 1.5em;
  font-family: var(--font-family-heading);
  color: #556b2f;
}

#dropDown, p {
  font-size: 1em;
  font-family: var(--font-family-text);
  color: #684a8b;
  padding: 5px;
}

#photos {
  padding: 10px;
}

img {
  height: 200px;
  padding: 5px;
}